@include block(breadcrumbs)
{
    @include element(list)
    {
        display: flex;

        li
        {
            color: $color07;

            &:after
            {
                content: '›';
                margin-left: $rule / 3;
                margin-right: $rule / 3;
            }

            &:last-child
            {
                color: $color02;

                span
                {
                    cursor: default;

                    &:hover
                    {
                        border-bottom: 0;
                    }
                }

                &:after
                {
                    display: none;
                }
            }

            span
            {
                cursor: pointer;

                &:hover
                {
                    border-bottom: 1px solid rgba($color07, .5);
                }
            }
        }
    }
}
