@include block(definition-list)
{
    @include type-2;
    line-height: 1.2;

    @include element(item)
    {
        position: relative;
        display: flex;
        margin-bottom: calc($rule / 3.5);
        transition: opacity .1s;

        @include modifier(editable)
        {
            cursor: pointer;

            &:hover
            {
                opacity: .75;
            }
        }

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(key)
    {
        display: block;
        width: 40%;
        color: $color07;
        padding-right: calc($rule / 3);
    }

    @include element(value)
    {
        display: block;
        width: 60%;
    }

    @include element(edit)
    {
        position: absolute;
        top: 0;
        left: 0;
    }
}
