@include block(directory)
{
    display: flex;
    align-items: center;
    padding: calc($rule / 2);
    transition: background-color .25s;
    border-radius: $border-radius-1;
    cursor: pointer;

    @include modifier(compact-list)
    {
        padding: calc($rule / 3) calc($rule / 4);
    }

    @include modifier(list)
    {
        // for ref
    }

    @include modifier(grid)
    {
        flex-direction: column;
        align-items: center;
        border: 1px solid $fill-color-alt-1;

        &:hover
        {
            border-color: $fill-color-alt-2;
        }
    }

    &:hover
    {
        background-color: $fill-color;
    }

    @include element(icon)
    {
        width: $rule * 2;
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: calc($rule / 2);

        @include block-modifier(grid)
        {
            order: 2;
            flex-grow: 1;
            width: 100%;
            margin-right: 0;
            margin-bottom: calc($rule / 2);
        }
    }

    @include element(content)
    {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-gap: calc($rule / 3);

        @include block-modifier(grid)
        {
            order: 3;
            display: block;
            width: 100%;
        }
    }

    @include element(name)
    {
        @include type-2;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include block-modifier(grid)
        {
            text-align: center;
        }
    }

    @include element(type)
    {
        color: $color07;
        @include type-2;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include block-modifier(grid)
        {
            display: none;
        }
    }
}
