@include block(dropdown)
{
    position: relative;
    display: inline-block;

    @include element(trigger)
    {
        //
    }

    @include element(button)
    {
        @include type-2;
        line-height: initial;
        position: relative;
        padding: calc($rule / 4) calc($rule / 1.5);
        padding-right: $rule * 1.25;
        transition: background-color .25s;
        cursor: pointer;
        border-radius: $border-radius-1;
        color: $color02;
        background-color: $fill-color-alt-1;
        -webkit-appearance: none;

        &:hover
        {
            background-color: $fill-color-alt-2;
        }

        @include block-modifier(primary)
        {
            background-color: $primary-color;
            color: $color01;

            &:hover
            {
                background-color: $primary-color-alt-1;
            }
        }

        @include block-modifier(small)
        {
            @include type-2;
            padding: calc($rule / 3) calc($rule / 1.5);
            padding-right: $rule * 1.25;
        }
    }

    @include element(label)
    {
        color: $color07;
        margin-right: calc($rule / 3);
    }

    @include element(icon)
    {
        pointer-events: none;
        opacity: .65;
        position: absolute;
        top: 50%;
        right: calc($rule / 4);
        margin-top: -(calc($rule / 2));
        display: flex;
        justify-content: center;
        align-items: center;
        width: $rule;
        height: $rule;
    }

    @include element(content)
    {
        position: absolute;
        z-index: 9999;
        right: 0;
        margin-top: calc($rule / 3);
        padding: calc($rule / 3);
        border: $border-width-2 solid $fill-color-alt-2;
        background-color: $color01;
        border-radius: $border-radius-1;
        width: $rule * 10;
        box-shadow: $box-shadow-1;
        display: none;
        max-height: 45vh;
        overflow-y: auto;

        @include block-modifier(left)
        {
            right: 0;
        }

        @include block-modifier(right)
        {
            left: 0;
            right: initial;
        }

        @include block-modifier(down)
        {
            // for ref
        }

        @include block-modifier(up)
        {
            top: -(calc($rule / 3));
            margin-top: 0;
            transform: translateY(-100%);
        }

        @include block-modifier(open)
        {
            display: block;
        }
    }
}
