@include block(field)
{
    display: block;
    width: 100%;

    @include element(header)
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: $rule / 4;
    }

    @include element(label)
    {
        display: block;
    }

    @include element(tooltip)
    {
        margin-left: $rule / 4;
    }

    @include element(input)
    {
        // for ref
    }

    @include element(error)
    {
        display: inline-block;
        padding: $rule / 6 $rule / 3;
        margin-top: $rule / 3;
        border-radius: $border-radius-3;
        background-color: lighten($color12, 40%);
        @include type-2;
        line-height: 1.25;
    }
}
