@include block(field)
{
    display: block;
    width: 100%;

    @include element(header)
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: calc($rule / 4);
    }

    @include element(label)
    {
        display: block;

        @include block-modifier(has-error)
        {
            color: $primary-color-alt-1;
        }
    }

    @include element(tooltip)
    {
        margin-left: calc($rule / 4);
    }

    @include element(input)
    {
        // for ref
    }

    @include element(error)
    {
        display: inline-block;
        padding: calc($rule / 6) calc($rule / 3);
        margin-top: calc($rule / 3);
        border-radius: $border-radius-3;
        background-color: $primary-color-alt-1;
        color: $color01;
        @include type-2;
        line-height: 1.25;
    }
}
