@include block(file-uploader)
{
    position: relative;

    @include element(input)
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:has(input:hover)
        {
            border: 1px dashed darken($color09, 10%);
            border-radius: $border-radius-2;
        }

        input
        {
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }

    @include element(placeholder)
    {
        //
    }
}
