@include block(file-browser)
{
    @include element(placeholder)
    {
        padding: $rule / 3;
        display: flex;
        height: 30vh;
    }

    @include element(content)
    {
        display: flex;
        flex-direction: column;
        gap: $rule / 3;
        padding-top: 0;
    }
}
