@include block(file-list)
{
    user-select: none;

    @include modifier(list)
    {
        // for ref
    }

    @include modifier(grid)
    {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        grid-gap: $rule / 3;
    }

    @include element(item)
    {
        margin-bottom: $border-width-1;

        &:last-child
        {
            margin-bottom: 0;
        }
    }
}
