@include block(file-view)
{
    padding: $rule / 2;

    @include element(header)
    {
        margin-bottom: $rule;
    }

    @include element(content)
    {
        margin-bottom: $rule;
    }

    @include element(preview)
    {
        margin-bottom: $rule;
    }

    @include element(actions)
    {
        display: flex;
        flex-direction: column;
        gap: $rule / 4;
    }

    @include element(footer)
    {
        margin-top: $rule / 2;
    }

    @include element(label-select)
    {
        //
    }
}
