@include block(filters-tool)
{
    display: flex;
    align-items: center;
    gap: calc($rule / 2);

    @include element(filters)
    {
        display: flex;
        align-items: center;
        gap: calc($rule / 2);
    }
}
