@include block(file-preview)
{
    display: block;
    width: $rule * 2;
    height: $rule * 2;
    border-radius: $border-radius-3;
    overflow: hidden;

    @include element(textual)
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $rule * 2;
        height: $rule * 2;
        position: relative;
        border-radius: $border-radius-3;
        border: $border-width-1 solid var(--color);
        overflow: hidden;
        color: var(--color);
        background-color: $color01;
        @include type-6;

        &:after
        {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color);
            opacity: .1;
        }

        @include block-modifier(full)
        {
            width: 100%;
        }
    }

    @include modifier(full)
    {
        width: 100%;
        height: auto;
    }
}
