@include block(file-drop-zone)
{
    display: block;
    width: 100%;

    @include modifier(drag-over)
    {
        position: relative;

        &:after
        {
            content: '';
            pointer-events: none;
            position: absolute;
            top: 0;
            right: calc($rule / 4);
            bottom: calc($rule / 4);
            left: calc($rule / 4);
            border-radius: $border-radius-1;
            display: block;
            background-color: $primary-color;
            opacity: .1;
        }
    }
}
