@include block(file)
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: $rule / 3 $rule / 2;
    transition: background-color .25s;
    border-radius: $border-radius-1;
    cursor: pointer;

    @include modifier(list)
    {
        // for ref
    }

    @include modifier(grid)
    {
        flex-direction: column;
        align-items: flex-start
    }

    &:hover
    {
        background-color: $fill-color;
    }

    @include modifier(selected)
    {
        background-color: $fill-color-alt-1;

        &:hover { background-color: $fill-color-alt-1; }
    }

    @include element(preview)
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $rule * 2;
        flex-grow: 0;
        margin-right: $rule / 2;

        @include block-modifier(grid)
        {
            order: 2;
            flex-grow: 1;
            width: 100%;
            margin-right: 0;
            margin-bottom: $rule / 2;
        }
    }

    @include element(content)
    {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-gap: $rule / 3;

        @include block-modifier(grid)
        {
            order: 3;
            display: block;
            width: 100%;
        }
    }

    @include element(checkbox)
    {
        flex-grow: 0;
        margin-right: $rule / 2;
    }

    @include element(actions)
    {
        flex-grow: 0;
    }

    @include element(name)
    {
        @include type-2;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @include element(type)
    {
        color: $color07;
        @include type-2;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include block-modifier(grid)
        {
            display: none;
        }
    }

    @include element(size)
    {
        color: $color07;
        @include type-2;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @include element(label)
    {
        position: absolute;
        top: 50%;
        right: $rule / 1.5;
        transform: translateY(-50%);

        @include block-modifier(grid)
        {
            position: absolute;
            top: $rule / 2;
            right: $rule / 1.5;
            transform: none;
        }
    }
}
