@include block(file)
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: $rule / 3 $rule / 2;
    transition: background-color .25s;
    border-radius: $border-radius-1;
    cursor: pointer;

    &:hover
    {
        background-color: $color08;
    }

    @include modifier(selected)
    {
        background-color: $color03;

        &:hover { background-color: $color03; }
    }

    @include element(preview)
    {
        flex-grow: 0;
        margin-right: $rule / 2;
    }

    @include element(content)
    {
        flex-grow: 1;
    }

    @include element(name)
    {
        @include type-2;
        margin-bottom: $rule / 4;
    }

    @include element(size)
    {
        @include type-2;
        color: $color07;
    }
}
