@include block(file-preview)
{
    $default-size: $rule * 1.75;

    display: block;
    width: $default-size;
    height: $default-size;
    border-radius: $border-radius-3;
    overflow: hidden;

    @include modifier(compact-list)
    {
        width: calc($default-size / 2);
        height: calc($default-size / 2);
    }

    @include modifier(list)
    {
        // for ref
    }

    @include modifier(grid)
    {
        // for ref
    }

    @include element(textual)
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $default-size;
        height: $default-size;
        position: relative;
        border-radius: $border-radius-3;
        border: $border-width-1 solid var(--color);
        overflow: hidden;
        color: var(--color);
        background-color: $color01;
        @include type-6;

        @include block-modifier(compact-list)
        {
            width: calc($default-size / 2);
            height: calc($default-size / 2);
            font-size: .5rem;
        }

        @include block-modifier(grid)
        {
            padding-top: 100%;
        }

        span
        {
            @include block-modifier(grid)
            {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }

        &:after
        {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color);
            opacity: .1;
        }

        @include block-modifier(full)
        {
            width: 100%;
        }
    }

    @include modifier(full)
    {
        width: 100%;
        height: auto;
    }
}
