@include block(file)
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $rule / 2 $rule;
    transition: background-color .25s;
    border-radius: $border-radius-1;
    cursor: pointer;

    &:hover
    {
        background-color: $color08;
    }

    @include modifier(selected)
    {
        background-color: $color03;

        &:hover { background-color: $color03; }
    }

    @include element(preview)
    {
        flex-grow: 0;
        margin-right: $rule / 2;
    }

    @include element(name)
    {
        display: flex;
        align-items: center;
        flex-grow: 1;
        width: 30%;
    }

    @include element(size)
    {
        width: 30%;
    }

    @include element(disk)
    {
        width: 10%;
    }
}
