@include block(form)
{
    position: relative;

    @include element(content)
    {
        display: flex;
        align-items: flex-start;
        width: 100%;
        position: relative;
    }

    @include element(inputs)
    {
        flex: 1;
    }

    @include element(sidebar)
    {
        position: sticky;
        top: calc($rule / 2);
        width: $nav-width * 1.5;
        background-color: $fill-color;
        padding: $rule calc($rule / 2);
        margin-left: $rule;
    }

    @include element(sidebar-save)
    {
        margin-bottom: $rule;
    }

    @include element(sidebar-input)
    {
        padding-bottom: calc($rule / 3);
        margin-bottom: calc($rule / 3);
        border-bottom: 1px solid $fill-color-alt-1;

        &:last-child
        {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    @include element(input)
    {
        margin-bottom: $rule;

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(footer)
    {
        margin-top: $rule;
        display: flex;
        justify-content: flex-end;
    }

    @include modifier(submitting)
    {
        &:after
        {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            background-color: rgba($color01, .5);
        }
    }
}
