@include block(icon-button)
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-1;
    padding: $rule / 4 $rule / 1.5;
    width: $rule;
    height: $rule;
    cursor: pointer;
    transition: background-color .25s;
    background-color: $fill-color-alt-1;

    &:hover
    {
        background-color: $fill-color-alt-2;
    }

    @include modifier(transparent)
    {
        background-color: transparent;

        &:hover
        {
            background-color: transparent;
        }
    }

    @include modifier(disabled)
    {
        opacity: .2;
        cursor: default;
    }
}
