@include block(icon)
{
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;  /* Preferred icon size */
    display: block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    @include modifier(mini)
    {
        font-size: 14px;
    }

    @include modifier(small)
    {
        font-size: 18px;
    }

    @include modifier(alt)
    {
        color: $primary-color;
    }

    @include modifier(soft)
    {
        opacity: .75;
    }

    @include modifier(disabled)
    {
        opacity: .2;
    }

    @include modifier(medium)
    {
        font-size: 30px;
    }

    @include modifier(large)
    {
        font-size: 40px;
    }

    @include modifier(extra-large)
    {
        font-size: 75px;
    }

    @include modifier(placeholder)
    {
        font-size: 60px;
        color: $fill-color-alt-1;
    }

    @include modifier(clickable)
    {
        color: $color13;
        opacity: .5;
        transition: opacity .25s;
        cursor: pointer;

        &:hover
        {
            opacity: 1;
        }
    }
}
