@include block(index-row)
{
    display: flex;
    padding: calc($rule / 2) $rule;
    transition: background-color .25s;

    @include modifier(clickable)
    {
        cursor: pointer;
    }

    &:hover
    {
        background-color: $fill-color;
    }

    @include element(content)
    {
        flex-grow: 1;
        display: grid;
        grid-gap: calc($rule / 2);
    }

    @include element(actions)
    {
        display: flex;
        align-items: center;
        gap: calc($rule / 2);
    }
}
