@include block(index-row)
{
    display: flex;
    flex-grow: 1;
    padding: calc($rule / 2) $rule;
    transition: background-color .25s;

    &:hover
    {
        background-color: $fill-color;
    }

    @include modifier(selected)
    {
        background-color: $fill-color-alt-1;

        &:hover
        {
            background-color: $fill-color-alt-1;
        }
    }

    @include modifier(clickable)
    {
        cursor: pointer;
    }

    @include modifier(grid)
    {
        padding: 0;
    }

    @include element(checkbox)
    {
        display: flex;
        align-items: center;
        margin-right: calc($rule / 2);
    }

    @include element(content)
    {
        flex-grow: 1;
        display: grid;
        grid-gap: calc($rule / 2);
    }

    @include element(actions)
    {
        display: flex;
        align-items: center;
        gap: calc($rule / 2);
    }

    @include element(component)
    {
        display: flex;
    }
}
