@include block(item-picker-widget)
{
    @include element(footer)
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        gap: calc($rule / 2);
    }

    @include element(footer-pagination)
    {
        width: 75%;
    }

    @include element(footer-actions)
    {
        display: flex;
        justify-content: flex-end;
        width: 25%;
        height: 100%;
        gap: calc($rule / 2);
    }

    @include element(row)
    {
        margin-bottom: 1px;

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(selection)
    {
        // for ref
    }

    @include element(selection-header)
    {
        @include type-6;
        text-transform: uppercase;
        padding-left: calc($rule / 2);
        margin-bottom: calc($rule / 2);
    }
}
