@include block(link-list)
{
    @include element(button)
    {
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: $rule / 3;
        padding-left: $rule / 2;
        border-radius: $border-radius-1;
        margin-bottom: $border-width-1;
        transition: background-color .25s;
        user-select: none;

        &:last-child
        {
            margin-bottom: 0;
        }

        &:hover
        {
            background-color: $color04;
        }
    }
}
