@include block(multi-file-view)
{
    padding: calc($rule / 2);

    @include element(header)
    {
        margin-bottom: calc($rule / 4);
    }

    @include element(content)
    {
        margin-bottom: $rule;
    }

    @include element(actions)
    {
        display: flex;
        flex-direction: column;
        gap: calc($rule / 4);
        margin-bottom: calc($rule / 2);
    }

    @include element(footer)
    {
        margin-top: calc($rule / 2);
    }
}
