@include block(pagination)
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: calc($rule / 2);

    @include element(status)
    {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    @include element(controls)
    {
        display: flex;
        gap: calc($rule / 4);
    }

    @include element(prev)
    {
    }

    @include element(next)
    {
    }
}
