@include block(placeholder)
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed $color06;
    border-radius: $border-radius-2;
    padding: $rule $rule / 4;
    text-align: center;

    @include element(icon)
    {
        display: block;
    }

    @include element(text)
    {
        @include type-9;
        color: $color07;
    }


    @include modifier(clickable)
    {
        cursor: pointer;

        &:hover
        {
            border-color: darken($color09, 10%);
        }
    }
}
