@include block(placeholder)
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed $fill-color-alt-1;
    border-radius: $border-radius-2;
    padding: $rule calc($rule / 4);
    text-align: center;

    @include element(icon)
    {
        display: block;
    }

    @include element(text)
    {
        @include type-9;
        color: $color07;
    }

    @include element(button)
    {
        margin-top: calc($rule / 2);
    }

    @include modifier(clickable)
    {
        cursor: pointer;

        &:hover
        {
            border-color: $fill-color-alt-2;
        }
    }
}
