@include block(placeholder)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed $color06;
    border-radius: $border-radius-2;
    padding: $rule / 2 $rule / 4;
    text-align: center;

    &:hover
    {
        border-color: $color03;
    }

    @include element(icon)
    {
        display: block;
        margin: auto;
    }

    @include element(text)
    {
        margin-top: $rule / 2;
        @include type-9;
    }
}
