@include block(search)
{
    position: relative;
    display: block;

    @include element(icon)
    {
        position: absolute;
        z-index: 2;
        left: $rule / 3;
        top: 50%;
        width: $rule;
        height: $rule;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -$rule / 2;
        pointer-events: none;
    }

    @include element(input)
    {
        @include type-2;
        line-height: initial;
        position: relative;
        z-index: 1;
        padding: $rule / 4 $rule / 1.5;
        padding-left: $rule * 1.5;
        width: 100%;
        transition: background-color .25s;
        border-radius: $border-radius-1;
        color: $color02;
        background-color: $color01;
        -webkit-appearance: none;
        border: $border-width-1 solid $fill-color-alt-1;

        &:focus
        {
            border-color: $fill-color-alt-2;
        }
    }

    @include element(clear)
    {
        position: absolute;
        z-index: 2;
        right: $rule / 3;
        top: 50%;
        width: $rule;
        height: $rule;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -$rule / 2;
        opacity: 0;
        pointer-events: none;
        transition: opacity .25s;

        @include block-modifier(searching)
        {
            opacity: 1;
            pointer-events: all;
        }
    }
}
