@include block(tags-browser)
{
    @include element(content)
    {
        // for ref
    }

    @include element(selected)
    {
        border: 1px dashed $fill-color-alt-2;
        border-radius: $border-radius-1;
        padding: calc($rule / 4);
        margin-bottom: calc($rule / 2);
    }

    @include element(available)
    {
        border: 1px dashed $fill-color-alt-2;
        border-radius: $border-radius-1;
        padding: calc($rule / 4);
    }
}
