@include block(tag-label)
{
    background-color: rgba($color13, .35);
    color: $color01;
    @include type-2;
    border-radius: $border-radius-3;
    padding: calc($rule / 8) calc($rule / 3);

    @include modifier(small)
    {
        font-size: .75rem;
        padding: calc($rule / 8) calc($rule / 6);
    }
}
