@include block(tooltip)
{
    display: block;
    position: relative;
    cursor: default;

    @include element(text)
    {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: $fill-color;
        border: $border-width-1 solid $fill-color-alt-2;
        padding: calc($rule / 6) calc($rule / 3);
        border-radius: $border-radius-1;
        max-width: 300px;
        backdrop-filter: blur(3px);
    }
}
