@include block(tree-item)
{
    display: flex;
    align-items: center;
    cursor: pointer;
    //padding: $rule / 3 $rule / 4;

    @include element(toggle)
    {
        display: flex;
        align-items: center;
    }

    @include element(content)
    {
        display: flex;
        align-items: center;
        padding: $rule / 6 $rule / 3;
        border-radius: $border-radius-1;
        transition: background-color .25s;
        @include type-2;

        &:hover
        {
            background-color: $fill-color;
        }
    }

    @include element(icon)
    {
        display: flex;
        align-items: center;
        margin-right: $rule / 3;
    }

    @include element(text)
    {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
}
