@include block(window)
{
    $window-header-height: $rule * 3;
    $window-footer-height: $rule * 3;
    $window-modal-height: 75vh;

    padding: calc($rule / 3);
    padding-top: 0;
    border: $border-width-2 solid $color03;
    background-color: $color01;
    border-radius: $border-radius-1;
    box-shadow: $box-shadow-1;
    max-width: 450px;

    @include modifier(modal)
    {
        position: fixed;
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 60vw;
        max-width: initial;
    }

    @include modifier(wide)
    {
        width: 80vw;
    }

    @include modifier(fixed-size)
    {
        max-width: initial;
    }

    @include element(header)
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $window-header-height;
        padding: calc($rule / 2) $rule;
        padding-right: calc($rule / 2);
    }

    @include element(title)
    {
        display: flex;
        align-items: center;
        gap: calc($rule / 2);
        @include type-9;
    }

    @include element(actions)
    {
        display: flex;
        align-items: center;
        gap: calc($rule / 2);
    }

    @include element(toolbar)
    {
        display: block;
        padding: calc($rule / 2) $rule;
        padding-top: 0;
    }

    @include element(content)
    {
        display: block;
        padding: 0 $rule;
        margin-bottom: calc($rule / 2);

        @include block-modifier(modal)
        {
            overflow-y: scroll;
            padding-bottom: calc($rule / 2);
            margin-bottom: 0;
            max-height: calc($window-modal-height - $window-header-height * 2);
        }

        @include block-modifier(wide)
        {
            height: calc($window-modal-height - $window-header-height * 2);
        }

        @include block-modifier(fixed-size)
        {
            width: 500px;
            height: 500px;
            overflow-y: scroll;
            margin-bottom: 0;
        }
    }

    @include element(footer)
    {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: calc($rule / 2);
        height: $window-footer-height;
        padding: calc($rule / 2) $rule;

        @include block-modifier(fixed-size)
        {
            padding: calc($rule / 4) $rule;
        }
    }
}
