@include block(wizard)
{
    $disc-size: $rule * 1.5;

    display: block;
    width: 100%;
    border-radius: $border-radius-2;
    border: $border-width-2 solid $fill-color-alt-1;

    @include element(nav)
    {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: $rule 0;
        border-bottom: $border-width-2 solid $fill-color-alt-1;
    }

    @include element(steps)
    {
        display: flex;
    }

    @include element(step)
    {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 $rule * 2;
        @include type-9;
        color: $fill-color-alt-2;

        &:after
        {
            content: '';
            display: block;
            position: absolute;
            top: calc($disc-size / 2);
            left: 0;
            right: 0;
            height: $border-width-2;
            background-color: $fill-color-alt-2;
        }

        &:first-child:after
        {
            left: 50%;
        }

        &:last-child:after
        {
            right: 50%;
        }

        span
        {
            position: relative;
            z-index: 1;
            content: '';
            display: flex;
            justify-content: center;
            align-items: center;
            width: $disc-size;
            height: $disc-size;
            background-color: $fill-color-alt-2;
            border-radius: 50%;
            margin-bottom: calc($rule / 3);
            @include type-3;
            color: $color01;
            border: $border-width-1 solid $fill-color-alt-2;
            transition: background-color .25s;
        }

        @include modifier(active)
        {
            color: $primary-color;

            span
            {
                background-color: $primary-color;
                border-color: $primary-color;
            }

            &:after
            {
                background-color: $primary-color;
            }
        }
    }

    @include element(content)
    {
        padding: $rule 20%;
        padding-top: $rule * 2;
    }

    @include element(step-content)
    {
        //
    }

    @include element(component)
    {
        margin-bottom: $rule;

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(footer)
    {
        display: flex;
        justify-content: flex-end;
        padding: $rule;
    }

    @include element(footer-component)
    {
        display: flex;
        align-items: center;
        margin-left: calc($rule / 2);

        &:first-child
        {
            margin-left: 0;
        }
    }
}
