@mixin default-font
{
    font-family: Poppins, sans-serif;
}

@mixin type-1
{
    @include default-font;
    font-weight: 500;
    font-size: 1rem;
}

@mixin type-2
{
    @include default-font;
    font-weight: 500;
    font-size: .95rem;
    line-height: 1;
}

@mixin type-3
{
    @include default-font;
    font-weight: 700;
    font-size: 1.15rem;
    line-height: 1.35;
    text-transform: initial;
}

@mixin type-4
{
    @include default-font;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 1.5;
    letter-spacing: -.02em;
}

@mixin type-5
{
    @include default-font;
    font-weight: 500;
    font-size: 1rem;
    text-transform: initial;
    line-height: 1;
}

@mixin type-6
{
    @include default-font;
    font-weight: 500;
    font-size: .85rem;
    line-height: 1;
    text-transform: uppercase;
}

@mixin type-7
{
    @include default-font;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.5;
    letter-spacing: -.02em;
}

@mixin type-8
{
    @include default-font;
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -.02em;
}

@mixin type-9
{
    @include default-font;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
}

@mixin type-10
{
    @include default-font;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -.02em;
}

@mixin type-11
{
    @include default-font;
    font-weight: 500;
    font-size: .85rem;
    line-height: 1;
    letter-spacing: -.02em;
}
