@mixin breakpoint($i)
{
    @media screen and (min-width: nth($breakpoints, $i))
    {
        @content;
    }
}

@mixin container($width)
{
    @container (min-width: #{$width})
    {
        @content;
    }
}

@mixin global-modifier($class_names...)
{
    @include parent-option('body', $class_names)
    {
        @content;
    }
}

@mixin parent-option($selector, $class_names)
{
    @for $i from 1 through length($class_names)
    {
        #{$selector}.#{nth($class_names, $i)} &
        {
            @content;
        }
    }
}

@mixin scrollbar($color, $hover_color: $primary-color, $space: 0)
{
    &::-webkit-scrollbar
    {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: $border-radius-1;
        border: $space solid $color01;
        background: $color;

        &:hover
        {
            background: $hover_color;
        }
    }
}
