@include block(action-component)
{
    @include element(content)
    {
        //
    }

    @include element(header)
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $rule / 2;
    }

    @include element(header-components)
    {
        display: flex;
    }

    @include element(header-component)
    {
        display: flex;
        align-items: center;
        margin-left: $rule / 3;

        &:first-child
        {
            margin-left: 0;
        }
    }

    @include element(title)
    {
        //
    }
}
