@include block(belongs-to-field)
{
    display: flex;
    flex-wrap: wrap;

    @include element(field)
    {
        flex-grow: 1;
    }

    @include element(select)
    {
        display: block;
        width: 100%;
        border: 1px solid $color06;
        border-radius: $border-radius-1;
        padding: calc($rule / 4);
    }
}
