@include block(boolean-field)
{
    $padding: $rule / 6;
    $width: $rule * 1.5;
    $knob-size: $rule / 1.5;

    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: $rule / 6 $rule / 6;
    border-radius: $knob-size;
    height: $knob-size + $padding;
    width: $width + $padding;
    background-color: $color03;
    transition: background-color .25s;

    &:after
    {
        content: '';
        position: absolute;
        left: $padding / 2;
        top: $padding / 2;
        border-radius: 50%;
        width: $knob-size;
        height: $knob-size;
        background-color: $color01;
        box-shadow: $box-shadow-1;
        transition: transform .25s;
    }

    @include modifier(checked)
    {
        background-color: $color12;

        &:after
        {
            transform: translateX($width - $knob-size);
        }
    }
}
