@include block(boolean-view)
{
    display: inline-block;
    color: $color10;
    border: 1px solid $color10;
    padding: $rule / 6 $rule / 6;
    border-radius: $border-radius-3;
    transition: background-color .25s;
    @include type-2;

    @include modifier(checked)
    {
        color: $color01;
        background-color: $color10;
    }
}
