@include block(content-blocks)
{
    @include element(content)
    {
        //
    }

    @include element(footer)
    {
        margin-top: $rule / 2;
    }

    @include element(item)
    {
        margin-bottom: $rule;

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(inline-add)
    {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: $rule;
    }

    @include element(inline-add-knob)
    {
        /*
        position: absolute;
        top: 50%;
        transform: translateY(-50%);*/
    }

    @include element(component)
    {
        margin-bottom: $rule;

        &:last-child
        {
            margin-bottom: 0;
        }
    }
}
