@include block(content-blocks)
{
    @include element(content)
    {
        //
    }

    @include element(footer)
    {
        margin-top: calc($rule / 2);
    }

    @include element(item)
    {
        margin-bottom: calc($rule / 4);

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(component)
    {
        // for ref
    }
}
