@include block(date-field)
{
    display: block;
    width: 100%;
    border: 1px solid $color06;
    border-radius: $border-radius-3;
    padding: $rule / 4;

    &:focus
    {
        border-color: $color03;
    }
}
