@include block(enum-field)
{
    display: block;
    width: 100%;
    border: 1px solid $color06;
    border-radius: $border-radius-1;
    padding: calc($rule / 4);
}

@include block(enum-field2)
{
    display: block;
    width: 100%;
    border: $border-width-1 solid $color06;
    border-radius: $border-radius-1;
    padding: calc($rule / 3);
    background-color: $color01;
}
