@include block(file-select-field)
{
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border: $border-width-1 solid $color06;
    border-radius: $border-radius-3;
    padding: $rule / 2;
    background-color: $color01;

    &:hover
    {
        &:after
        {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba($color03, .25);
        }
    }

    @include element(selected-file)
    {
        width: 100%;
    }
}
