@include block(gallery-field)
{
    position: relative;
    container-type: inline-size;

    @include element(btn)
    {
        //
    }

    @include element(content)
    {
        margin-top: calc($rule / 2);
    }

    @include element(grid)
    {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: calc($rule / 2);

        @include container(300)
        {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include container(650)
        {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include container(1000)
        {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @include container(1100)
        {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }

        @include container(1280)
        {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }

        @include container(1400)
        {
            grid-template-columns: repeat(7, minmax(0, 1fr));
        }
    }

    @include element(item)
    {
        position: relative;
        border: $border-width-1 solid $fill-color-alt-1;
        border-radius: $border-radius-1;
        padding: calc($rule / 4);

        &:hover
        {
            @include element(item-actions)
            {
                opacity: 1;
            }

            @include element(item-overlay)
            {
                opacity: .9;
            }
        }
    }

    @include element(item-overlay)
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $fill-color;
        opacity: 0;
        transition: opacity .2s;
    }

    @include element(item-actions)
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity .2s;
    }

    @include element(item-delete)
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: calc($rule / 3);
    }

    @include element(item-order)
    {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: calc($rule / 3);
        gap: calc($rule / 6);
    }
}
