@include block(json-field)
{
    @include element(item)
    {
        border-radius: $border-radius-1;
        border: $border-width-2 solid $color03;
        background-color: $color01;
        margin-bottom: calc($rule / 3);
        padding: calc($rule / 4);
        display: flex;

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(item-content)
    {
        flex-grow: 1;
        margin-right: calc($rule / 3);
    }

    @include element(item-actions)
    {
        display: flex;
        align-items: center;
        gap: calc($rule / 3);
    }

    @include element(component)
    {
        margin-bottom: calc($rule / 2);

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(footer)
    {
        margin-top: calc($rule / 3);
    }
}
