@include block(link)
{
    cursor: pointer;
    white-space: nowrap;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    line-height: 1;

    &:hover
    {
        border-bottom: none;
    }

    @include modifier(alt)
    {
        color: $fill-color-alt-3;
        border-bottom: 1px solid $fill-color-alt-3;
    }

    @include modifier(disabled)
    {
        cursor: default;
        color: $fill-color-alt-2;
        border-bottom: 1px solid $fill-color-alt-2;

        &:hover
        {
            border-bottom: 1px solid $fill-color-alt-2;
        }
    }
}
