@include block(many-to-many-field)
{
    position: relative;

    @include element(btn)
    {
        //
    }

    @include element(content)
    {
        margin-top: $rule / 2;
    }

    @include element(list)
    {
        border: $border-width-2 solid $color03;
        border-radius: $border-radius-2;
    }
}
