@include block(many-to-many-field)
{
    position: relative;

    @include element(btn)
    {
        //
    }

    @include element(content)
    {
        margin-top: $rule / 2;
    }

    @include element(list)
    {
        display: flex;
        flex-direction: column;
        gap: $rule / 4;
    }
}
