@include block(richtext-field)
{
    trix-editor
    {
        strong
        {
            font-weight: bold;
        }

        em
        {
            font-style: italic;
        }

        sup
        {
            vertical-align: super;
            font-size: .85em;
        }

        ol,
        ul,
        div,
        pre,
        blockquote
        {
            padding: calc($rule / 4);
            border: 1px dashed $color06;
            margin-bottom: calc($rule / 4);

            &:last-child
            {
                margin-bottom: 0;
            }
        }

        blockquote
        {
            text-align: center;
        }

        ul, ol
        {
            li
            {
                list-style: square;
                padding-left: calc($rule / 2);
                margin-left: calc($rule / 2);
            }
        }

        ol li
        {
            list-style-type: decimal;
        }

        h1
        {
            padding: calc($rule / 4);
            border: 1px dashed $color06;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: calc($rule / 4);

            &:last-child
            {
                margin-bottom: 0;
            }
        }

        a
        {
            text-decoration: underline;
        }
    }
}
