@include block(section)
{
    border-radius: $border-radius-2;
    background-color: $fill-color;

    @include element(content)
    {
        padding: calc($rule / 2);

        @include block-modifier(closed)
        {
            display: none;
        }
    }

    @include element(component)
    {
        margin-bottom: $rule;

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(header)
    {
        display: flex;
        justify-content: space-between;
        padding: calc($rule / 2);
        @include type-5;
    }

    @include element(collapse-button)
    {
        user-select: none;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:after
        {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: calc($rule / 5) solid transparent;
            border-right: calc($rule / 5) solid transparent;
            border-top: calc($rule / 5) solid $fill-color-alt-2;
            transform: rotate(180deg);
            opacity: .5;
            transition: opacity .25s;

            @include block-modifier(closed)
            {
                transform: initial;
                opacity: 1;
            }
        }
    }
}
