@include block(tabs)
{
    @include element(nav)
    {
        display: flex;
        justify-content: flex-start;
        border-bottom: $border-width-2 solid $fill-color-alt-1;
    }

    @include element(content)
    {
        padding-top: $rule;
    }

    @include element(component)
    {
        margin-bottom: $rule;

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(nav-item)
    {
        position: relative;
        padding: $rule / 3 0;
        margin-right: $rule;
        @include type-3;
        color: $color13;
        cursor: pointer;

        &:last-child
        {
            margin-right: 0;
        }

        @include modifier(active)
        {
            color: $primary-color;

            &:after
            {
                content: '';
                position: absolute;
                bottom: -$border-width-2;
                left: 0;
                right: 0;
                height: $border-width-2;
                background-color: $primary-color;
            }
        }
    }
}
