@include block(text-field)
{
    display: block;
    width: 100%;
    border: $border-width-1 solid $fill-color-alt-1;
    border-radius: $border-radius-1;
    padding: calc($rule / 3);
    resize: vertical;

    &:focus
    {
        border-color: $fill-color-alt-2;
    }

    @include modifier(primary)
    {
        @include type-3;
        color: $color13;
    }
}
