@include block(thumb-component)
{
    $default-size: $rule * 1.75;

    display: block;
    width: $default-size;
    height: $default-size;
    border-radius: $border-radius-1;
    overflow: hidden;
    background-color: $fill-color-alt-1;
}
