@include block(translatable)
{
    display: block;
    width: 100%;

    @include element(tabs)
    {
        display: flex;
        justify-content: flex-end;
        gap: $rule / 4;
        padding-right: $rule / 3;
    }

    @include element(components)
    {
        border: $border-width-1 solid $fill-color-alt-1;
        border-radius: $border-radius-3;
        padding: $rule / 3;
        padding-top: $rule / 1.5;
        display: none;

        @include modifier(active)
        {
            display: block;
        }
    }

    @include element(component)
    {
        margin-bottom: $rule;

        &:last-child
        {
            margin-bottom: 0;
        }
    }

    @include element(button)
    {
        margin-bottom: -$border-width-1;
        color: $fill-color-alt-3;
        border-radius: $border-radius-3;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding: $rule / 6 $rule / 4;
        cursor: pointer;
        @include type-2;
        text-transform: uppercase;
        transition: color .25s, background-color .25s;

        @include modifier(active)
        {
            color: $primary-color;
            border: $border-width-1 solid $fill-color-alt-1;
            border-bottom-color: $color01;
        }

        &:hover
        {
            color: $primary-color;
        }
    }
}

