@include block(cmf)
{
    @include loading;

    @include element(header)
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: $fill-color;
    }

    @include element(logo)
    {
        display: flex;
        align-items: center;
        height: 100%;
        width: $nav-width;
        padding: $rule / 2;
        cursor: pointer;
        background-color: $fill-color-alt-1;
    }

    @include element(user)
    {
        padding-right: $rule;
    }

    @include element(main)
    {
        display: flex;
        flex-wrap: wrap;
        min-height: 100vh;
    }

    @include element(nav)
    {
        display: flex;
        flex-direction: column;
        width: $nav-width;
        background-color: $fill-color;
        padding: $rule $rule / 2;
    }

    @include element(content)
    {
        width: 100% - $nav-width;
    }

    @include element(module)
    {
        padding: $rule 0;
    }

    @include element(footer)
    {
        @include type-10;
        text-align: center;
        color: $fill-color-alt-3;
        padding-bottom: $rule / 2;
    }
}
