@include block(cmf)
{
    @include loading;

    @include element(header)
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: $fill-color;
    }

    @include element(logo)
    {
        display: flex;
        align-items: center;
        height: 100%;
        width: $nav-width;
        padding: calc($rule / 2);
        cursor: pointer;

        @include breakpoint(2)
        {
            background-color: $fill-color-alt-1;
        }
    }

    @include element(user)
    {
        padding-right: calc($rule / 2);

        @include breakpoint(2)
        {
            padding-right: $rule;
        }
    }

    @include element(main)
    {
        display: flex;
        min-height: 100vh;
    }

    @include element(nav)
    {
        position: fixed;
        left: 50%;
        bottom: $rule * 5;
        opacity: 0;
        pointer-events: none;
        z-index: 9999;
        transform: scale(.9) translateY(30%);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 74vw;
        max-height: 50vh;
        overflow-y: scroll;
        padding: calc($rule / 2);
        margin-left: -(calc(75vw / 2));
        transition: opacity .25s, transform .25s;
        background-color: $color01;
        border: 1px solid $fill-color-alt-2;
        border-radius: $border-radius-1;
        box-shadow: $box-shadow-1;

        @include global-modifier(open-nav)
        {
            transform: none;
            opacity: 1;
            transition: opacity .25s, transform .25s;
            pointer-events: all;
        }

        @include breakpoint(2)
        {
            position: static;
            z-index: initial;
            width: $nav-width;
            transform: none;
            opacity: 1;
            pointer-events: all;
            margin-left: 0;
            max-height: initial;
            overflow-y: auto;
            padding: $rule calc($rule / 2);
            background-color: $fill-color;
            border: 0;
            border-radius: 0;
            box-shadow: none;
        }
    }

    @include element(nav-trigger)
    {
        position: fixed;
        bottom: $rule;
        left: 50%;
        margin-left: -$rule * 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $rule * 3;
        height: $rule * 3;
        background-color: $color01;
        border-radius: 50%;
        border: $border-width-1 solid $fill-color-alt-1;
        box-shadow: $box-shadow-1;
        cursor: pointer;

        @include breakpoint(2)
        {
            display: none;
        }
    }

    @include element(content)
    {
        flex-grow: 1;
    }

    @include element(module)
    {
        padding: calc($rule / 2) 0;

        @include breakpoint(2)
        {
            padding: $rule 0;
        }
    }

    @include element(footer)
    {
        padding-bottom: calc($rule / 2);
    }
}
