@include block(logo)
{
    display: flex;
    align-items: center;

    @include element(emblem)
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $logo-emblem-block;
        width: $logo-emblem-block;
        background-color: $primary-color;
        color: $fill-color;
        border-radius: $border-radius-1;
        @include type-12;
    }

    @include element(name)
    {
        @include type-5;
        margin-left: calc($rule / 2);
        color: $primary-color-alt-3;

        span
        {
            color: $color13;
        }
    }
}
