@include block(user-panel)
{
    display: flex;
    align-items: center;

    @include element(avatar)
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $rule;
        height: $rule;
        margin-right: calc($rule / 2);
        background-color: $fill-color-alt-1;
        border-radius: 50%;
    }

    @include element(name)
    {
        color: $color13;
        margin-right: calc($rule / 2);
    }

    @include element(actions)
    {
        //
    }
}
