@include block(delete)
{
    border-radius: $border-radius-1;
    border: $border-width-2 solid $fill-color;
    background-color: $color01;
    padding: $rule;

    @include element(text)
    {
        //
    }

    @include element(footer)
    {
        display: flex;
        margin-top: $rule;
    }

    @include element(confirm)
    {
         margin-right: calc($rule / 3);
    }

    @include element(cancel)
    {
        //
    }
}
