@include block(index)
{
    border-radius: $border-radius-1;
    border: $border-width-2 solid $fill-color-alt-1;
    background-color: $color01;
    transition: opacity .5s;

    @include modifier(loading)
    {
        opacity: 0;
    }

    @include element(rows)
    {
        @include block-modifier(grid)
        {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: $rule;
            padding: 0 $rule;
        }
    }

    @include element(row)
    {
        display: grid;
        grid-gap: calc($rule / 2);
        padding: calc($rule / 2) $rule;
        border-bottom: $border-width-1 solid $fill-color;
        transition: background-color .25s;

        &:hover
        {
            background-color: $fill-color;
        }

        @include block-modifier(grid)
        {
            display: flex;
            padding: 0;
            border: 0;
            background-color: $color01;

            &:hover
            {
                background-color: $color01;
            }
        }

        @include modifier(clickable)
        {
            cursor: pointer;
        }
    }

    @include element(component)
    {
        @include block-modifier(grid)
        {
            display: flex;
            flex-grow: 1;
        }
    }

    @include element(placeholder)
    {
        text-align: center;
        border-radius: $border-radius-1;
        background-color: $fill-color;
        padding: calc($rule / 2) $rule;
        margin: 0 calc($rule / 2);
        margin-bottom: calc($rule / 2);
    }

    @include element(header)
    {
        display: flex;
        flex-direction: column;
        gap: calc($rule / 2);
        padding: calc($rule / 2) $rule;

        @include breakpoint(2)
        {
            flex-direction: row;
            align-items: center;
        }
    }

    @include element(header-title)
    {
        @include type-9;
    }

    @include element(header-options)
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
        gap: calc($rule / 2);

        @include breakpoint(2)
        {
            justify-content: flex-end;
        }
    }

    @include element(header-search)
    {
        // for ref
    }

    @include element(header-filter)
    {
        margin-left: calc($rule / 2);

        &:first-child
        {
            margin-left: 0;
        }
    }

    @include element(header-filters-tool)
    {
        display: flex;
        align-items: center;
    }

    @include element(header-clear-filters)
    {
        margin-left: calc($rule / 2);
    }

    @include element(footer)
    {
        width: 100%;
        padding: calc($rule / 2) $rule;
    }
}
