@include block(select-one)
{
    border-radius: $border-radius-1;
    border: $border-width-2 solid $fill-color;
    background-color: $color01;
    padding: $rule;

    @include element(component)
    {
        @include block-modifier(grid)
        {
            display: flex;
            flex-grow: 1;
        }
    }

    @include element(options)
    {
        display: grid;
        gap: $rule;
        grid-template-columns: repeat(4, 1fr);
    }

    @include element(option)
    {
        cursor: pointer;
        border: $border-width-1 solid $fill-color;
        padding: $rule;
        transition: background-color .25s;

        &:hover
        {
            background-color: $fill-color;
        }

        @include modifier(selected)
        {
            background-color: $fill-color-alt-1;

            &:hover
            {
                background-color: $fill-color-alt-1;
            }
        }
    }

    @include element(footer)
    {
        display: flex;
        margin-top: $rule;
    }

    @include element(confirm)
    {
        margin-right: calc($rule / 3);
    }

    @include element(cancel)
    {
        //
    }
}
