@import 'resources/sass/settings';
@import 'resources/sass/tools';

@include block(button)
{
    position: relative;
    white-space: nowrap;
    color: $color01;
    border-radius: $border-radius-1;
    background-color: $primary-color;
    padding: calc($rule / 2) $rule;
    cursor: pointer;
    transition: background-color .25s;
    @include type-2;
    overflow: hidden;

    &:after // shadow
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 -2px 0 $primary-color-alt-1;
        opacity: .5;
    }

    &:before // focus
    {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        border: 1px solid $fill-color;
        border-radius: $border-radius-1;
        opacity: 0;
        transition: opacity 1s;
    }

    &:focus,
    &:active
    {
        &:before
        {
            opacity: .25;
        }
    }

    &:hover
    {
        background-color: $primary-color-alt-1;
    }

    @include element(icon)
    {
        margin-right: calc($rule / 4);
    }

    @include element(label)
    {
        color: $color07;
        margin-right: calc($rule / 3);
    }

    @include modifier(grouped)
    {
        border-radius: 0;
    }

    @include modifier(has-icon)
    {
        display: inline-flex;
        align-items: center;
    }

    @include modifier(disabled)
    {
        overflow: hidden;
        cursor: not-allowed;
        box-shadow: none;

        &:after
        {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $fill-color;
            box-shadow: none;
            opacity: .75;
        }
    }

    @include modifier(secondary)
    {
        color: $color02;
        background-color: $fill-color-alt-1;

        &:after { display: none; }

        &:hover
        {
            background-color: $fill-color-alt-2;
        }
    }

    @include modifier(active)
    {
        background-color: $fill-color-alt-2;
    }

    @include modifier(outline)
    {
        background-color: $color01;
        border: $border-width-2 solid $fill-color-alt-1;
        color: $primary-color-alt-1;

        &:after { display: none; }

        &:hover
        {
            background-color: $color01;
        }
    }

    @include modifier(full)
    {
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    @include modifier(small)
    {
        height: $rule * 1.15;
        padding: calc($rule / 3) calc($rule / 1.5);

        &:after { display: none; }
    }

    @include modifier(large)
    {
        @include type-3;
        padding: calc($rule / 2) $rule;
        border-radius: $border-radius-1;
    }
}
