@import 'resources/sass/settings';
@import 'resources/sass/tools';

@include block(collapsible)
{
    border-radius: $border-radius-1;
    border: $border-width-1 solid $fill-color-alt-1;
    background-color: $color01;
    margin-bottom: calc($rule / 2);

    @include element(header)
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calc($rule / 6) calc($rule / 3);
        background-color: $fill-color;
    }

    @include element(title)
    {
        padding-left: calc($rule / 2);
        width: 100%;
        text-align: left;
    }

    @include element(content)
    {
        display: flex;
        flex-direction: column;
        gap: $rule;
        padding: calc($rule / 3);

        @include block-modifier(closed)
        {
            display: none;
        }
    }

    @include element(actions)
    {
        display: flex;
        align-items: center;
        gap: calc($rule / 3);
    }

    @include element(component)
    {
        margin-bottom: $rule;

        &:last-child
        {
            margin-bottom: 0;
        }
    }
}
