$color01: #ffffff; // good
$color02: #464646; // good
$color03: desaturate(darken(#f7f7fc, 5%), 20%); // good
$color04: desaturate(#f7f7fc, 20%); // good

$color05: #f2f5f7;
$color06: #dfe0e2;
$color07: #7b7d85;
$color08: #f2f3f5;
$color09: #d3d4d6;

$color13: black; // good

$color14: #b61313; // Error & warning color

$primary-color: var(--primary-color);
$primary-color-alt-1: var(--primary-color-alt-1);
$primary-color-alt-2: var(--primary-color-alt-2);
$primary-color-alt-3: var(--primary-color-alt-3);
$fill-color: var(--fill-color);
$fill-color-alt-1: var(--fill-color-alt-1);
$fill-color-alt-2: var(--fill-color-alt-2);
