$color01: #ffffff; // good
$color02: #464646; // good
$color03: desaturate(darken(#f7f7fc, 5%), 20%); // good
$color04: desaturate(#f7f7fc, 20%); // good



$color05: #f2f5f7;
$color06: #dfe0e2;
$color07: #7b7d85;
$color08: #f2f3f5;
$color09: #d3d4d6;

$color10: #4c1ea0; // good
$color12: #6226db; // good
$color13: black; // good
