@include block(module)
{
    @include element(header)
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: calc($rule / 2);
        padding: 0 $rule;
    }

    @include element(header-components)
    {
        display: flex;
    }

    @include element(header-component)
    {
        display: flex;
        align-items: center;
        margin-left: calc($rule / 3);

        &:first-child
        {
            margin-left: 0;
        }
    }

    @include element(main)
    {
        padding: 0 calc($rule / 3);

        @include breakpoint(2)
        {
            padding: 0 $rule;
        }
    }
}
