@import 'resources/sass/settings';
@import 'resources/sass/tools';

@include block(file-uploader)
{
    position: relative;

    @include element(input)
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:has(input:hover)
        {
            border: 1px dashed $fill-color-alt-2;
            border-radius: $border-radius-1;
        }

        input
        {
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }

    @include element(placeholder)
    {
        //
    }
}
