@import 'resources/sass/settings';
@import 'resources/sass/tools';

@include block(ctx-overlay)
{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@include block(ctx-mount)
{
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes context-menu
{
    from
    {
        transform: scaleY(.85) scaleX(.85);
        transform-origin: 0 0;
    }

    to
    {
        transform: scaleY(1) scaleX(1);
        transform-origin: 0 0;
    }
}

@include block(context-menu)
{
    width: 100%;

    @include element(menu)
    {
        animation: context-menu .25s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        margin-top: calc($rule / 3);
        padding: calc($rule / 3);
        border: $border-width-2 solid $fill-color-alt-2;
        background-color: $color01;
        border-radius: $border-radius-1;
        width: $rule * 10;
        box-shadow: $box-shadow-1;
    }

    @include element(wrap)
    {
        width: 100%;
        position: relative;

        @include block-modifier(open)
        {
            &:after
            {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                border: $border-width-2 solid $fill-color-alt-2;
                border-radius: $border-radius-1;
            }
        }
    }
}
